body{
    font-family: 'Poppins', sans-serif;
    margin: 0;
}
section{
    display: flex;
}
.top-banner{
    background-image: url(images/top-banner.png);
    background-repeat: no-repeat;
    background-position: left;
}
h1{
    font-size: 50px;
}
h1 span{
    color: orange;
}
p{
    color: #969494;
    text-align: justify;
}
.half-width{
    width: 50%;
    padding: 0 5%;
}
.half-width img{
    width: 90%;
}
.half-width .link-button{
    text-decoration: none;
    background-image: linear-gradient(tomato, orange);
    padding: 10px 20px;
    color: #fff;
    font-weight: 600;
    text-transform: uppercase;
    border-radius: 10px;
}
.dream-big-area{
    background-image: url(images/dream-bg.png);
    background-repeat: no-repeat;
    background-position: right;
}
#dream-big-text{
    padding-right: 10%;
}